.gradient{
    box-shadow:2px 2px 5px 4px red,-2px -2px 4px 3px rgba(0, 0, 255, 0.918);
    height: 200px;
    width: 200px;
    border-radius: 50px ;
    -webkit-filter: blur(2px);
    background-image: url(mellodi.jpeg);
    background-repeat: no-repeat;
}
.gradient1{
    box-shadow:-2px -2px 20px 4px rgba(246, 255, 0),2px 2px 4px 3px rgba(0, 255, 255, 0.692);
    height: 200px;
    width: 200px;
    border-radius: 50px ;
    
    margin:10px;
    background-repeat: no-repeat;
}
