*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.parent{
    margin-top: 100px;
    padding: 20px;
    height: 60vh;
    width: 100vw;
    background-color: rgba(200, 242, 242, 0.839);
    display: flex;
}
.a{
    width: 50%;
}
.s12{

    border-radius: 10px;
    height: 50vh;
    width: 50vw;
    background-color: rgba(128, 128, 128, 0.357);
    margin: 10px;
    display: flex;
    text-align: justify;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
}
