*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: BBE9FF;
}
.parent{
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #BBE9FF;

}
nav{
    display: flex;
    justify-content: space-between;
    background-color: #B1AFFF ;
    width: auto;
    height: 10vh;
    padding: 20px;
    margin-top: 10px;
    }
.a1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    color:blue ;
    font: bold;
    font-size: larger;
    font-family:'Times New Roman', Times, serif;
    
}
.a2{
    display: flex;
    align-items: center;
    justify-items: auto;
    padding-right: 10%;
    
}

.p2{
    display: flex;
    background-color:#BBE9FF;
}

.p3{
    display: flex;
    background-color:#BBE9FF;
    align-items: center;
    justify-content: space-around;

}
.b2{
    height: 50vh;
    width: 33vw;
    margin: 50px;
    text-align: center;
}
