*{
    scroll-behavior: smooth;
}
.ul{
    display: flex;
    align-items: center;
}
ul{
    display: flex;
    margin: 50px;
    justify-content: space-around;
    color: rgb(215, 28, 200);
    text-shadow: 5px 10px 10px blue; 

}
li{
    display: flex;
    /* width: 10px; */
    justify-content:space-around;
    margin: 15px;
}
body{
    background-color: rgb(229, 101, 241);
}